html { 
    font-size: 62.5%;
}
    
body {
    font-family: 'Noto Sans JP', sans-serif;
}

/* SP記述 */
/* ヘッダー */
@media screen and (max-width: 767px) {
    .header {
        height: 63px;
        width: 100%;
        background-color: #FFFFFF;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    .header__contents {
        height: 63px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .header__logo img {
        margin-left: 16px;
    }
}

/* ハンバーガーメニュー */
@media screen and (max-width: 767px) {
    .hamburger-menu {
        width: 56px;
        height: 63px;
        flex-shrink: 0;
        position: relative;
        border: none;
        appearance: none;
        padding: 0;
    }
}

@media screen and (max-width: 767px) {
    .hamburger-menu__bar {
        display: inline-block;
        width: 43%;
        height: 2px;
        background: #000000;
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        transition: .3s;
    }
}

@media screen and (max-width: 767px) {
    .hamburger-menu__bar:first-child {
        top: 23px;
    }
}

@media screen and (max-width: 767px) {
    .hamburger-menu__bar:nth-child(2) {
        top: 31px;
    }
}

@media screen and (max-width: 767px) {
    .hamburger-menu__bar:last-child {
        top: 39px;
    }
}

@media screen and (max-width: 1079px) {
    .navigation {
        display: none;
        background: #168352;
        position: absolute;
        border-radius: 25px;
        top: 63px;
        width: 92%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
    }
    .navigation__list {
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    .navigation__link {
        color: #ffffff;
        font-size: 1.8rem;
        text-decoration: none;
        display: block;
        padding-top: 36.5px;
    }
    .navigation__list--item-top {
        margin-right: 4px;
    }
    .navigation__list--item-spec {
        margin-left: 3px;
    }
    .navigation__list--item-faq {
        margin-right: 1px;
        padding-bottom: 38px;
    }
}






/* PC記述 */
/* ヘッダー */
@media screen and (min-width: 768px) {
    .header {
        height: 114px;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #FFFFFF;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    .header__contents {
        width: 100%;
        max-width: 1400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__logo img {
        margin-left: 115px;
    }
}

/* ナビメニュー */
@media screen and (min-width: 768px) {
    .navigation {
        list-style: none;
    }
}

@media screen and (min-width: 768px) {
    .navigation__list {
        display: flex;
        align-items: center;
        gap: 40px;
        margin: 0 114px 2px 0;
    }
}

@media screen and (min-width: 768px) {
    .navigation__list--item {
        font-size: 1.6rem;
        color: #333333;
    }
}


@media screen and (min-width: 768px) {
    .navigation__text {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .navigation__list--item-top {
        display: none;
    }
}