html { 
    font-size: 62.5%;
}
    
body {
    font-family: 'Noto Sans JP', sans-serif;
}

/* SP記述 */
/* カバー */
@media screen and (max-width: 767px) {
    .cover {
        width: 100%;
        margin-top: 83px;
    }
    .cover__img {
        max-width: 390px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cover__img img {
        height: 230px;
        width: 358px;
    }
    .cover__title {
        max-width: 390px;
        margin: 0 auto;
        padding: 27px 0 0 15px;
        font-size: 3rem;
        font-weight: bold;
    }
}

/* パンくずリスト */
@media screen and (max-width: 767px) {
    .breadcrumb {
        max-width: 390px;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0 auto;
        padding: 28px 15px 0 0;
        gap: 6px;
    }
    .breadcrumb li {
        font-size: 1.2em;
    }
    .breadcrumb li a {
        text-decoration: none;
        color: #000000;
    }
    .breadcrumb li+li:before {
        color: #000000;
    }
    .fa-angle-right {
        font-size: 1.4em;
    }
}

/* よくあるご質問 */
@media screen and (max-width: 767px) {
    .faq {
        height: auto;
        width: 100%;
        margin: 39px auto 0 auto;
        padding-bottom: 34px;
    }
    .faq__title {
        height: auto;
        width: 120px;
        margin: 0 auto 39px auto;
    }
    .faq__title-first {
        padding:35px 0 0 25px;
        letter-spacing: .07em;
        font-size: 3rem;
        font-weight: bold;
        color: #000000;
    }
    .faq__title-second {
        display: block;
        margin-bottom: 30px;
        padding: 8px 0 0 2px;
        letter-spacing: .05em;
        font-size: 1.6rem;
        color: #000000;
    }
}

@media screen and (max-width: 767px) {
    .faq__list {
        width: 358px;
        margin: 19px auto 0 auto;
        padding-bottom: 16px;
        border-radius: 15px;
        border: 1px solid #CCCCCC;
        overflow: hidden;
    }
    .faq__list--question {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 auto;
        background-color: #FFFFFF;
    }
    .question__list--question-box {
        display: flex;
    }
    .question__list-box-left {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 8.5px;
    }
    .question__label {
        font-family: 'Montserrat', sans-serif;
        display: inline-block;
        padding: 20px 7px 0 23px;
        font-size: 1.6rem;
        font-weight: bold;
        font-size: 2.4em;
        color: #168352;
        margin-left: auto; 
    }

    .question__box-utilize,
    .question__box-product,
    .question__box-use {
        width: 100px;
        display: flex;
        justify-content: center;
        color: #168352;
        border-radius: 4px;
        border: 1px solid #168352;
        font-size: 1.1em;
    }
    .question__box-utilize {
        padding: 4px 0 5px 0;
        margin: 23px 0 0 0px;
    }
    .question__box-product {
        padding: 4px 0 5px 0;
        margin: 23px 0 0 0px;
    }
    .question__box-use {
        padding: 4px 0 5px 0;
        margin: 23px 0 0 0px;
    }

    .fa-solid {
        padding: 23px 22px 0 0;
        font-size: 2.4em;
    }
    .question__text {
        width: 231px;
        margin: 0 auto;
        padding: 1px 0px 1px 2.5px;
        letter-spacing: .001em;
        line-height: 1.75;
        font-weight: bold;
        font-size: 1.6rem;
        text-align: left;
    }
    .answer__text {
        width: 309px;
        margin: 0 auto;
        letter-spacing: .001em;
        line-height: 1.75;
        font-size: 1.6rem;
        text-align: left;
    }
}
